@font-face {
    font-family: "eduSaeeum";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/eduSaeeum/eduSaeeum.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/eduSaeeum/eduSaeeum.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/eduSaeeum/eduSaeeum.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/eduSaeeum/eduSaeeum.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/eduSaeeum/eduSaeeum.ttf") format("truetype");
    font-display: swap;
} 
.eduSaeeum {
    font-family: "eduSaeeum";
}